$color_blue: #678FF2;
$color_white: #fff;
$color_black: #000;

$media_xxl_1400: 1400px;
$media_xl_1200: 1200px;
$media_lg_992: 992px;
$media_md_768: 768px;
$media_sm_576: 576px;
$media_min_428: 428px;